*{
margin: 0;
padding: 0;
}

body{

background-image: url(../storage/Ladscape_pixelart-1920x1080.png) ;
}



.Principal_UpperpartContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(132, 205, 218);
    width: 70vw;
    align-content: center;
    height: 50vh;
    margin-left: 15%;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.5);
    
}


.Principal_UpperpartContainer--name_Searchbar{
margin-top: 1%;
width: 60vw;
height: 3vw;
background-color: white;
border-radius: 20px;
font-size: 1vw;
word-wrap: break-word;

}


.Principal__UpperpartContainer--Myprofilecontainer{

    border: 1px solid black;
    height: 200vh;
    margin-right: 97%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(96, 92, 92, 0.694);
    border-radius: 20px;
    object-fit: cover;
       gap: 20px;
    overflow: hidden;
    
    transform: translateY(200px) scale(2.0);
    z-index: -100;
}





.name__SearchbarPresentation{

    padding-top: 40px;
    color: white;
    font-size: 3vh;

}

.name__SearchbarDescription{

    color: white;
    word-wrap: break-word;
}

.Window_icons img{
    width: 4vw;
}


.My_img {
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.My_img img {
width: 5vw;

}